{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Photo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
    $(document).ready(function() {
        $('#success-message, #danger-message').removeClass('d-none').delay(7000).fadeOut();
    });
    </script>

    <style>

    html * {
       font-family: Times New Roman;
    }

    div.col-md-4 {
        height: 80vh;
    }

    div.card {
        margin-top: 20vh;
        background: rgba(255, 255, 255, .7)
    }

    .centered {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    </style>

</head>
<body class="m-5">

<img src="{% static 'background3.png' %}" class="centered">

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">

            <p class="text-center"><a href="{% url 'main' %}" class="btn btn-dark my-3">Back to the main page</a></p>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group m-3">
                            <div><label>Upload photo</label></div>
                            <input required name="image" type="file" multiple class="form-control-file" accept="image/jpeg, image/png">
                            <div><small class="form-text text-muted">
                                Your photo will be allocated to the "Visitors photos" directory and automatically resized to max 1920 px size of it's bigger side.
                            </small></div>
                    </div>

                    <div class="form-group m-3">
                            <label>Description</label>
                            <input required name="description" type="text" class="form-control" placeholder="Write a short description.">
                    </div>

                    <div class="form-group m-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

            </div>
            {% if uploaded %}

                {% if success %}
                <div class="alert alert-success d-none text-center" id="success-message">
                    {{ message }}
                </div>

                {% else %}
                <div class="alert alert-danger d-none text-center" id="danger-message">
                    {{ message }}
                </div>
                {% endif %}

            {% endif %}
        </div>
    </div>


</body>
</html>